{% extends "base_admin.html" %}
{% block js %}
    {{ block.super }}
    <script src="/static/js/create_user.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
           <h3>Пользователи:</h3>
            <br>
            <ul id="users_list">
                {% include 'inc-users_list.html' %}
            </ul>
        </div>
    <br/>
    </div>
 <hr/>
    <h3>Форма:</h3>
    <form id="user_form">
        {% include 'inc-registration_form.html' %}
    </form>
<button type="submit" class="base_margin btn btn-success btn-lg" value="" onclick="send_data()"><i class = "fa fa-sign-in"></i>Зарегистрироваться</button>
{% endblock %}