{%extends "base_news.html"%}
{% load staticfiles %}
{% block title%}
Работа
{% endblock %}
{% block h_2 %}Всё из мира высоких технологий {% endblock %}
  {% block content %}
  <section>
	<div class="container-fluid">
		<div class="row">


			<div class="col-xs-12 col-md-12"><h3 class="text-center"></h3></div>
			<div class="col-xs-12 col-md-12">
	        	<div class="block_info">

            {% for field in form %}
            <div class="form-group  ">
                <div class="col-md-8">
                    {% for error in field.errors %}
                        <li class="error">errors:{{ error }}</li>
                    {% endfor %}
                    {{ field }}
                    <br/>
                </div>

            </div>
        {% endfor %}

	        </div>



		</div>
	</div>
  </section>
  {% endblock %}

